# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Conda
*.conda
*.env
*.yml
.conda/
envs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
dist/
build/
*.spec

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Logs
*.log

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store
